// General Fancy Font
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
// Button Font
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@700&display=swap');

html, body {
    background-color: rgb(0, 0, 0);
    color: #000000;
    font-family: 'Pacifico', cursive;
    font-weight: 200;
    height: 100vh;
    margin: 0;
    background-repeat: no-repeat, repeat;
    background-image: url("https://images.pexels.com/photos/235985/pexels-photo-235985.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"), url("https://images.pexels.com/photos/247671/pexels-photo-247671.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
    background-blend-mode: lighten;
}

.full-height {
    height: 100vh;
}

.flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
}

.position-ref {
    position: relative;
}

.top-right {
    position: absolute;
    right: 10px;
    top: 18px;
}

.content {
    text-align: center;
}

.title {
    font-size: 84px;
}

.links > a {
    background-color: rgba(255, 255, 255, 0.589);
    color: #222222;
    padding: 5px 25px;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Roboto Condensed', sans-serif;
}

.m-b-md {
    margin-bottom: 30px;
}